In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # Data visulization and Analysis

In [10]:
# df = pd.read_csv('HR_comma_sep.csv')/
df = pd.read_csv(r'/content/drive/MyDrive/HR_comma_sep.csv')

In [4]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
df.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [7]:
df.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [8]:
df.shape

(14999, 10)

In [9]:
df.rename(columns={'sales': 'department'}, inplace=True)

In [10]:
df.department.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [11]:
df.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [12]:
df_final = pd.get_dummies(df, columns=['department', 'salary'], drop_first=True)

In [13]:
df_final

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department_RandD,department_accounting,department_hr,department_management,department_marketing,department_product_mng,department_sales,department_support,department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X = df_final.drop(['left'], axis=1).values

# output
y = df_final['left'].values

In [16]:
X

array([[0.38, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.8 , 0.86, 5.  , ..., 0.  , 0.  , 1.  ],
       [0.11, 0.88, 7.  , ..., 0.  , 0.  , 1.  ],
       ...,
       [0.37, 0.53, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.11, 0.96, 6.  , ..., 0.  , 1.  , 0.  ],
       [0.37, 0.52, 2.  , ..., 0.  , 1.  , 0.  ]])

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [18]:
X_train

array([[0.5 , 0.78, 3.  , ..., 0.  , 1.  , 0.  ],
       [0.45, 0.57, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.69, 0.82, 4.  , ..., 1.  , 1.  , 0.  ],
       ...,
       [0.57, 0.56, 3.  , ..., 0.  , 0.  , 1.  ],
       [0.37, 0.45, 2.  , ..., 0.  , 1.  , 0.  ],
       [0.97, 0.93, 2.  , ..., 0.  , 1.  , 0.  ]])

In [19]:
# To scale the training set and the test set
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Load the dataset
#data = pd.read_csv('HR_comma_sep.csv')
data =pd.read_csv(r'/content/drive/MyDrive/HR_comma_sep.csv')
#df = pd.read_csv(r'/content/drive/MyDrive/HR_comma_sep.csv')

# Split the dataset into features and target variable
X = data.drop('left', axis=1)  # Replace 'target_variable' with the actual column name
y = data['left']

# Convert categorical variables to one-hot encoding
X = pd.get_dummies(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Convert target variable to one-hot encoding
num_classes = len(np.unique(y_train))
y_train = tf.keras.utils.to_categorical(y_train, num_classes)
y_test = tf.keras.utils.to_categorical(y_test, num_classes)

# Define the multilayer perceptron model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(100, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(num_classes, activation='softmax')
])

# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print("Accuracy:", accuracy)

Epoch 1/10
375/375 [==============================] - 2s 2ms/step - loss: 0.3294 - accuracy: 0.8587
Epoch 2/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1848 - accuracy: 0.9417
Epoch 3/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1650 - accuracy: 0.9507
Epoch 4/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1576 - accuracy: 0.9514
Epoch 5/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1518 - accuracy: 0.9549
Epoch 6/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1486 - accuracy: 0.9549
Epoch 7/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1452 - accuracy: 0.9565
Epoch 8/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1415 - accuracy: 0.9575
Epoch 9/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1395 - accuracy: 0.9584
Epoch 10/10
375/375 [==============================] - 1s 2ms/step - loss: 0.1371 - accuracy: 0.9587
94/94 [==============================] - 0s 1ms/step - loss: 0.1578 - accuracy: 0.9560
Accuracy: 0.9559999704360962